<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jacoblo.ticktick.com</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>255519D4-0760-40BC-9AC6-36DF88C37226</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86DAC22F-9644-4C14-B2F0-2BC26804DC87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DDCC937-7534-4E70-9424-0CC63A931682</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59FBF3BE-E2ED-413F-BC0E-DFA6C0CE21D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59FBF3BE-E2ED-413F-BC0E-DFA6C0CE21D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0333076-466D-456B-B435-C343CC14527B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86DAC22F-9644-4C14-B2F0-2BC26804DC87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9ADF5F5D-88CD-4C6A-AE5F-B0EB5747C057</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jacob Leander-Olsson</string>
	<key>description</key>
	<string>Add task to Tick Tick</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TickTick</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python tick.py -t '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>86DAC22F-9644-4C14-B2F0-2BC26804DC87</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Task added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9ADF5F5D-88CD-4C6A-AE5F-B0EB5747C057</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>subtext</key>
				<string>Task {query}</string>
				<key>text</key>
				<string>Add task to Tick Tick</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>255519D4-0760-40BC-9AC6-36DF88C37226</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Task added</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A0333076-466D-456B-B435-C343CC14527B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>s</string>
				<key>subtext</key>
				<string>Task {query}</string>
				<key>text</key>
				<string>Add to shopping list</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4DDCC937-7534-4E70-9424-0CC63A931682</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python tick.py -t '{query}' -p PROJECTID</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>59FBF3BE-E2ED-413F-BC0E-DFA6C0CE21D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>255519D4-0760-40BC-9AC6-36DF88C37226</key>
		<dict>
			<key>xpos</key>
			<integer>110</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>4DDCC937-7534-4E70-9424-0CC63A931682</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>59FBF3BE-E2ED-413F-BC0E-DFA6C0CE21D7</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>86DAC22F-9644-4C14-B2F0-2BC26804DC87</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>9ADF5F5D-88CD-4C6A-AE5F-B0EB5747C057</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>A0333076-466D-456B-B435-C343CC14527B</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>email</key>
		<string>hello@sayatul.com</string>
		<key>password</key>
		<string>^U&amp;zXiWgRvuy2iyYAfdog</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>email</string>
		<string>password</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
